* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.btn-red {
    padding: 14px 30px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}

#slide1 {
    background: url('/images/banner1.png');
}

#slide2 {
    background-image: url('/images/banner2.png');
}

#slide3 {
    background-image: url('/images/banner3.png');
}

#slide4 {
    background-image: url('/images/banner4.png');
}

#team {
    background-image: url('/images/team.png');
}